@model LancheListViewModel
@* @{
    Layout = "null";
} Ao definir como null perde as propriedades do layout, que seria o menu*@

<h2>Categoria Atual</h2>
<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
            {
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img class="img-fluid" src="@lanche.ImagemUrl"> 
                    <h3>Preço: @lanche.Preco.ToString("c")</h3>
                    <h4>@lanche.LancheNome</h4>
                    <p>@lanche.DescriçãoCurta</p>
                </div>
            }
    </div>
</div>